/*font-family: 'Antic', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/

section {
   color: white;
}

.first {
   background-color: blue;
}

.second {
   background-color: red;
}

.third {
   background-color: green;
}