/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
   #Site Styles
   #Page Styles
   #Media Queries
   #Font-Face */

/* #Site Styles
================================================== */

body {
 font-family: 'inconsolatamedium', 'Courier', serif;
 /*font-size: 3vh;*/
 color: #3a3a3a;
 margin: 0;
 line-height: 1.25em;
}

.wrapper {
  width: 100%;
}

h1 {
 font-family: 'brandon_textmedium', 'Avenir', 'Helvetica', sans-serif;
 font-size: 5em;
}

.content {
  height: 90vh;
}

.nav {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5%;
  padding-bottom: 4%;
  height: 1%;
  position: fixed;
  z-index: 100;
  border-bottom-left-radius:.25em;
  border-bottom-right-radius:.25em;
  background-color: rgba(252, 252, 246, 0.2);

}

.nav ul {
  margin: 0 auto;
  padding: none;
  list-style-type: none;
}

li {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width:18%;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  display: inline-block;
}

.welcome {
  text-align: center;
  margin-top: 15%;
}

.first {
  background-color: #fcfcf6;
  border-top-color: #fcfcf6 !important;
}

.second {
  background-color: green;
  border-bottom-color: green !important;
  border-top-color: green !important;
}

.third {
  background-color: purple;
  border-bottom-color: purple !important;
  border-top-color: purple !important;
}

.fourth {
  background-color: orange;
  border-bottom-color: orange !important;
  border-top-color: orange !important;
}

.fifth {
  background-color: cyan;
  border-bottom-color: cyan !important;
  border-top-color: cyan !important;
}

.pointer-wrapper {
  height: 5vh;
  width: 100%;
}

.pointer {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5vh solid transparent;
  border-right: 5vh solid transparent;
  background-color: transparent;
}

.up {
  left: 50%;
  border-bottom: 5vh solid;
}

.down {
  right: 50%;
  border-top: 5vh solid;  
}

#pink {
  background-color: pink;
}

#cyan {
  background-color: cyan;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

  .main {
    margin-top: -10% !important;
  }

  ul {
    padding-left: 2%;
  }

  li {
    display: inline-block;
    width: 25%;
    padding: 2%;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/*@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 4em;
    line-height: .25em;
  }

  body {
    font-size: 1.3em;
    line-height: 1.8em;
  }

  .main {
    margin-top: -10% !important;
  }

  ul {
    padding-left: 2%;
  }

  li {
    display: inline-block;
    width: 25%;
    padding: 2%;
  }

  }*/

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*@media only screen and (max-width: 479px) {

  h1 {
    font-size: 4.35em;
    line-height: .25em;
  }

  body {
    font-size: 1.3em;
    line-height: 1.8em;
  }

  .main {
    margin-top: -10% !important;
  }

  ul {
    padding-left: 2%;
  }

  li {
    display: inline-block;
    width: 25%;
    padding: 2%;
  }

  }*/


/* #Font-Face
================================================== */

@font-face {
  font-family: 'inconsolatamedium';
  src: url('../fonts/inconsolata-webfont.eot');
  src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/inconsolata-webfont.woff') format('woff'),
  url('../fonts/inconsolata-webfont.ttf') format('truetype'),
  url('../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_textmedium';
  src: url('../fonts/brandontext-medium-webfont.eot');
  src: url('../fonts/brandontext-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/brandontext-medium-webfont.woff') format('woff'),
  url('../fonts/brandontext-medium-webfont.ttf') format('truetype'),
  url('../fonts/brandontext-medium-webfont.svg#brandon_textmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_textmedium_italic';
  src: url('brandontext-mediumitalic-webfont.eot');
  src: url('brandontext-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('brandontext-mediumitalic-webfont.woff') format('woff'),
  url('brandontext-mediumitalic-webfont.ttf') format('truetype'),
  url('brandontext-mediumitalic-webfont.svg#brandon_textmedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}